* {
	margin: 0;
	padding: 0;
}
.contrainer {
	width: 500px;
	margin: 50px auto;
	border: 1px solid #ccc;
	
}
h1 {
	display: block; 
	background: #D2691E;
	color: 1px solid #ccc;
	font-size: 14px;
	text-align: center;
	height: 45px;
	line-height: 40px;
}
.label {
	font-size: 13px;
	margin: 10px 0;
	padding: 0 10px;
	color: #999;
}
.form {
	padding: 0 10px;
}
.form input {
	width: 100%;
	height: 35px;
	padding: 0 15px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ddd;
}
#signUp {
	margin-top: 20px;
	display: block;
	width: 100%;
	height: 45px;
	background: #008B8B;
	color: white;
	border: none;
	cursor: pointer;
}
input.formInvalid::-webkit-input-placeholder {
      color: red;
}
div span{
	color : red;
	opacity: 0.5;
}
.form1 {
	padding: 0 10px;
}
.form1 input{
    float: right;
    /* width: 100%; */
    margin-top: 5px;
    margin-bottom: 5px;
    height: 35px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.form1 #aaa{
	float: left;
}
.form1 #check_btn{
    margin-right: 5px;
}